###############################################################################
# Unity
###############################################################################
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ff]onts/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/